.container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.card .head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card .image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.button button {
  padding: 5px 8px;
  font-size: 10px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  padding: 2px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.section {
  width: 100%;
  margin-top: 18px;
  text-align: left;
}

.section-h4 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.section-h4 span {
  font-size: 10px;
  font-weight: 100;
}

.section h1 {
  margin-top: 0;
  font-size: 25px;
  margin-bottom: 0;
}

.section-flex {
  display: flex;
  text-align: center;
}
.section p {
  background-color: #eeeeee;
  color: black;
  margin-left: 10px;
  padding: 2px 4px;
  font-size: 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: 800;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: 1px solid #343453;
  margin-top: 32%;
  padding: 0;
}

.price h3 {
  margin-bottom: 0;
}
.price p {
  margin: 0;
  font-size: 10px;
}
.footer button {
  margin-top: 29px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
.footer button:hover {
  transform: scale(1.05);
}
